# .gitignore

# 서비스 계정 키 파일
key-*.json

# 로컬 환경 변수 파일
.env

# Python cache
__pycache__/
*.pyc

# IDE settings
.idea/
.vscode/

# macOS system files
.DS_Store

# Caching folders and files
.cache

# for backup and test
get_lyrics_save_firestore_uniprocess.py
/test_*.py
copy_*.py
copy*_*.py
copy_dockerfile.txt

# log
failed_searches.log

# venv
lyrixmatch1/
.lyrixmatch1/


models/